/* GLOBAL STYLES */
:root {
  --primary-bg-color: hsl(241, 100%, 30%);
  --secondary-bg-color: hsl(213, 81%, 50%);
  --primary-add1-color: hsl(187, 85%, 19%);
  --secondary-add2-color: hsl(178, 96%, 87%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 89%);
  --gray: hsl(0, 0%, 50%);
}

html,
body {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: "Lora", serif;
  position: relative;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-shadow: hsl(0, 0%, 0%) 0px 0px 1px;
  font-size: 36px;
}

h2 {
  text-shadow: hsl(0, 0%, 0%) 0px 0px 1px;
  font-family: "Lora", serif;
}

p {
  text-shadow: hsl(0, 0%, 0%) 0px 0px 1px;
  font-size: 1.6rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

/* ABOUT / PROFILE */

header {
  text-align: center;
}

img.avatar {
  width: 25%;
}

/* SKILLS */

.header-small {
  color: var(--primary-bg-color);
}

.social-icons {
  width: 3rem;
}

.main-icons {
  filter: invert(11%) sepia(95%) saturate(5890%) hue-rotate(248deg)
    brightness(58%) contrast(128%);
  width: 3rem;
}

.thin_border {
  border-left: 1px solid var(--off-white);
  background-color: var(--gray);
  content: "";
}

/* PROJECTS / PORTFOLIO */
.container-img {
  position: relative;

}

.project-img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  object-position: 0 0;
  box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.9);
  filter: brightness(0.5) invert(0.1);
}

.centered h2 {
  font-family: "Montserrat", sans-serif;
  font-variant-caps: all-petite-caps;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-decoration-break: clone;
  padding: 20px;
  font-size: 3em;
  z-index: 1;
  color: var(--white);
  background-color: hsl(0, 0%, 10%, 0.9);
  border-radius: 5px;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--secondary-bg-color);
}

.container-img:hover .centered {
  opacity: 0;
}

.container-img:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: var(--white);
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 1em;
  transform: translate(-50%, -50%);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title-projects {
  font-size: 2rem;
}

/* FOOTER */

.footer-section {
  background-color: var(--secondary-bg-color);
  color: #000000;
  font-family: "Lora", serif;
}

.fab {
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}

.far {
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
}

.btn-outline-light:hover,
.btn-outline-light:focus,
.btn-outline-light:active {
  color: var(--white);
  background-color: var(--primary-add1-color);
  border-color: var(--white);
}

/* 1280-1024   - desktop (default grid) */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}
/* 1024-768    - tablet landscape */
@media all and (min-width: 768px) and (max-width: 1024px) {
}
/* 768-480     - tablet  */
@media all and (min-width: 480px) and (max-width: 768px) {
}
/* 480-less    - phone landscape & smaller */
@media all and (max-width: 480px) {
  .centered h2 {
    font-size: 2rem;
  }

  .emojy {
    display: none;
  }
}


